# Ignore Gradle project-specific cache directory
.gradle

# Ignore build artifacts and compiled code
build
classes
agent/bin/main
agent/bin/test
annotation/bin
runtime/bin

# AppMap files
tmp
*appmap.json

# IDE-related files`
.classpath
.project
.settings
.vscode
.idea

# test output
/.metadata/
