# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# AppMap files
tmp
*appmap.json

# IDE-related files`
.classpath
.project
.settings
.vscode
.idea
agent/bin/main
agent/bin/test
annotation/bin

