# Ignore Gradle project-specific cache directory
.gradle

# Ignore build artifacts and compiled code
build
classes

# AppMap files
tmp
*appmap.json

# IDE-related files`
.classpath
.project
.settings
.vscode
.idea
agent/bin/main
agent/bin/test
annotation/bin

# test output
appmap.log
appmap-log.local.properties