name: Build
on:
    pull_request:
    schedule:
        - cron: "0 0 * * 0"

jobs:
    test:
        strategy:
          fail-fast: false
          matrix:
            os: [ ubuntu-latest, windows-latest, macos-latest ]
            java: ['11', '17']
            exclude:
            - os: windows-latest
              java: 11

        name: Test ${{ matrix.os }} ${{ matrix.java }}
        runs-on: ${{ matrix.os }}

        # Java 11 on Windows is so slow it times out. At some point maybe we should
        # investigate why....

        timeout-minutes: 45
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4

            - name: Gradle Wrapper Validation
              uses: gradle/wrapper-validation-action@v1

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: temurin
                  java-version: ${{ matrix.java }}

            - name: Install extras on macOS
              if: runner.os == 'macOS'
              run: brew install bash sbt

            - name: Run Tests
              shell: bash
              run: |
                set -e
                bin/disable-gradle-daemon
                ./gradlew check integrationTest
                bin/test